<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.feasycom.fsybecon">

    <!-- 蓝牙SPP权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- for 三星 -->
    <permission
        android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
        android:protectionLevel="signature" />
    <!-- 蓝牙BLE权限 -->
    <uses-feature android:name="android.hardware.bluetooth_le" />

    <!-- 安卓6蓝牙权限，必须打开定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <!-- 系统对话框权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 文件数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Activity.AdvertisingActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.ParameterSettingActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>

        <service
            android:name="com.feasycom.service.AtCommandService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.feasycom.service.OTASPPService"
            android:enabled="true"
            android:exported="true" />
        <activity android:name=".Activity.SetActivity"  android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.AboutActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.AddBeaconActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.UpgradeActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>